<% pagy = local_assigns[:pagy] %>
<% page_param = local_assigns[:page_param] || 'page' %>

<% if pagy.present? %>
  <nav class="flex justify-end">
    <ul class="inline-flex items-center space-x-1 text-sm">
      <% if pagy.prev %>
        <li>
          <%= link_to "Prev", pagy_url_for(pagy, pagy.prev, page: page_param), class: "px-4 py-2 border border-gray-300 text-gray-600 hover:bg-gray-100 rounded" %>
        </li>
      <% else %>
        <li class="px-4 py-2 border border-gray-300 text-gray-400 cursor-not-allowed">Prev</li>
      <% end %>

      <% 
        if pagy.page <= 2
          start_page = 1
        elsif pagy.page >= pagy.last - 1
          start_page = [pagy.last - 2, 1].max
        else
          start_page = pagy.page - 1
        end

        end_page = [start_page + 2, pagy.last].min
        if start_page > 1  
      %>
        <li class="px-3 py-2 text-gray-500">...</li>
      <% end %>

      <% (start_page..end_page).each do |page_num| %>
        <li>
          <% if page_num == pagy.page %>
            <div class="px-4 py-2 bg-blue-500 text-white rounded"><%= page_num %></div>
          <% else %>
            <%= link_to page_num, pagy_url_for(pagy, page_num, page: page_param), class: "px-4 py-2 border border-gray-300 text-gray-600 hover:bg-gray-100 rounded" %>
          <% end %>
        </li>
      <% end %>

      <% if end_page < pagy.last %>
        <li class="px-3 py-2 text-gray-500">...</li>
      <% end %>

      <% if pagy.next %>
        <li>
          <%= link_to "Next", pagy_url_for(pagy, pagy.next, page: page_param), class: "px-4 py-2 border border-gray-300 text-gray-600 hover:bg-gray-100 rounded" %>
        </li>
      <% else %>
        <li class="px-4 py-2 border border-gray-300 text-gray-400 cursor-not-allowed">Next</li>
      <% end %>
    </ul>
  </nav>
<% end %>
