<div class="relative overflow-x-auto sm:rounded-lg">
    <% if repayment_schedules.present? %>
        <hr class="p-3"></hr>
        <p class="text-sm sm:text-lg font-semibold mb-2"> Repayment Schedules </p>
        <table class="min-w-full text-xs sm:text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-auto">
            <thead class="text-xs sm:text-lg text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-3 py-2 sm:px-6 sm:py-3"> Due Date </th>
                    <th scope="col" class="px-3 py-2 sm:px-6 sm:py-3"> Amount </th>
                    <th scope="col" class="px-3 py-2 sm:px-6 sm:py-3"> Status </th>
                </tr>
            </thead>
            <tbody>
            <% repayment_schedules.each do |schedule| %>
                <tr class="bg-white text-xs sm:text-lg border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                    <th scope="row" class="px-3 py-2 sm:px-6 sm:py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= schedule.due_date.strftime("%B %d, %Y") %>
                    </th>
                    <td class="px-3 py-2 sm:px-6 sm:py-4">
                        <%= number_to_currency(schedule.amount, unit: "₱ ", precision: (schedule.amount % 1 == 0 ? 0 : 2)) %>
                    </td>
                    <td class="px-3 py-2 sm:px-6 sm:py-4">
                        <span class="px-2 py-1 text-xs sm:text-lg font-semibold rounded
                        <%= case schedule.status
                            when 'pending' then 'bg-yellow-200 text-yellow-600'
                            when 'paid' then 'bg-green-200 text-green-600'
                            else 'bg-gray-300' # Default color
                        end %>">
                        <%= schedule.status.capitalize %>
                    </span>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    <% else %>
        <p>No repayment schedules available.</p>
    <% end %>
</div>
