<% if user_signed_in? %>
<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-16 sm:w-64 h-screen transition-all bg-gray-50 dark:bg-gray-800" aria-label="Sidebar">
   <div class="h-full px-2 sm:px-3 py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
         <li>
            <a href="#" class="flex flex-col sm:flex-row items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <svg class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                  <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
               </svg>
               <span class="hidden sm:inline ms-3">Dashboard</span>
            </a>
         </li>
         <li>
            <a href="<%= admin_cash_adv_requests_path %>" class="flex flex-col sm:flex-row items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="bi bi-cash-stack text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-lg"></i>
               <span class="hidden sm:inline ms-3">Cash Advance</span>
            </a>
         </li>
         <li>
            <a href="#" class="flex flex-col sm:flex-row items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="bi bi-bell-fill text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-lg"></i>
               <span class="hidden sm:inline ms-3">Notification</span>
            </a>
         </li>
         <li>
            <a href="<%=  %>" class="flex flex-col sm:flex-row items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="bi bi-people-fill text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-lg"></i>
               <span class="hidden sm:inline ms-3">Profile</span>
            </a>
         </li>
         <li>
            <a href="<%= edit_password_path %>" class="flex flex-col sm:flex-row items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               <i class="bi bi-person-lock text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-lg"></i>
               <span class="hidden sm:inline ms-3">Change Password</span>
            </a>
         </li>
         <li>
         <%= form_with url: destroy_user_session_path, method: :delete, html: { id: "logout-form" } do %>
           <a href="#" onclick="confirmLogout(event)" class="flex flex-col sm:flex-row items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
             <i class="bi bi-box-arrow-right text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white text-lg"></i>
             <span class="hidden sm:inline ms-3">Sign Out</span>
           </a>
         <% end %>
       </li>
       
      </ul>
   </div>
</aside>
<% end %>
<script>
  function confirmLogout(event) {
    event.preventDefault(); // Prevent default link behavior

    Swal.fire({
      title: "Are you sure?",
      text: "You will be logged out of your account.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#d33",
      cancelButtonColor: "#3085d6",
      confirmButtonText: "Yes, sign out!"
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("logout-form").submit(); // Submit Rails form
      }
    });
  }
</script>